{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block main %}

{% block body %}{% endblock %}

<section>
    <div>
        <div class="card border-0 mt-xl-5">
            <div class="card-body p-4 py-lg-5">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="text-center">
                        <div class="h6 fw-bolder">Have more questions?</div>
                        <p class="text-muted mb-4">
                            Contact us at
                            <br />
                            <a href="#!">support@shpemdc.com</a>
                        </p>
                        <div class="h6 fw-bolder">Follow us</div>
                        <a class="fs-5 px-2 link-dark" href="https://discord.gg/bXMjj7FcZE"><i class="bi-discord"></i></a>
                        <a class="fs-5 px-2 link-dark" href="https://instagram.com/shpe_mdc"><i class="bi-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}