{% extends "questions.html" %}

{% block title %}
WIP | Home
{% endblock %}

{% block body %}
<section>
    <div class="container px-5 d-flex justify-content-center pt-5">
        <div class="text-center mt-3 mb-5">
            <h1 class="fw-bolder">Work in progress</h1>
            
            <div class="pt-5 row mb-4">
                <h5>This section is still work in progress. Go back to the main page by clicking here <a href="/"> here.</a></h5>
            </div>
        </div>
    </div>
</section>
{% endblock %}