<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='./assets/css/formstyle.css')}}" />
        <link rel="icon" href="{{url_for('static', filename='./assets/images/icon.ico')}}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        {% block head %}{% endblock %}
    </head>

    <body class="d-flex flex-column">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a href="/"><img src="{{ url_for('static', filename='./assets/images/shpe.png') }}" alt="SHPE logo" width="50px" height="50px" ></a>
                <a class="navbar-brand" style="padding-left:9px" href="/">SHPE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="/schedule">Schedule</a></li>
                        <li class="nav-item"><a id="showModal" class="nav-link" href="#">Apply</a></li>
                        <li class="nav-item dropdown">
                    </ul>
                </div>
            </div>
        </nav>

        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Campuses</h5>
                        <button type="button" class="close" id="closeModal">&times;</button>
                    </div>
                    <div class="modal-body d-flex flex-column align-items-center">
                        <a class="text-decoration-none text-white" href="https://sharknet.mdc.edu/organization/shpe"><button type="button" class="btn btn-primary btn-long mb-2">Hialeah Campus</button></a>
                        <a class="text-decoration-none text-white" href="https://sharknet.mdc.edu/organization/shpekendall"><button type="button" class="btn btn-primary btn-long">Kendal Campus</button></a>
                    </div>
                </div>
            </div>
        </div>

            {% block main %}{% endblock %}
        </main>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{{ url_for('static', filename='./assets/js/modalscript.js') }}"></script>
    
        <footer class="bg-dark py-4 mt-auto">
            <div class="d-flex justify-content-between mx-5 text-white">
                <p>Property of SHPE MDC</p>
                <ul class="list-unstyled d-flex" style="margin-top:16px">
                  <li class="ms-5"><a class="link-light" href="https://discord.gg/bXMjj7FcZE"><i class="bi-discord"></i></a></li>
                  <li class="ms-5"><a class="link-light" href="https://instagram.com/shpe_mdc"><i class="bi-instagram"></i></a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>
